{% extends 'principal/base.html' %}

{% block content %}

    <h1>Producto: Vista en detalle</h1>
    <ul>
        <li> Categoria: {{ object.categoria }}</li>
        <li> Nombre: {{ object.nombre }}</li>
        <li> Descripción:
            {% if object.descripcion %}
                <li> {{ object.descripcion }}</li>
            {% else %}
                <li> - </li>
            {% endif %}
        </li>
        <li> Precio: {{ object.precio }}</li>
        <li> Stock: {{ object.stock }}</li>
    </ul>
    
{% endblock content %}

    