{% extends 'principal/base.html' %}

{% block content %}
    <h1>Producto</h1>
    <a href="{% url 'producto:producto_form' %}">
        <button>
            Crear Producto
        </button>
    </a>
    <ul>
        <table border="1">
            <tr>
                <th>Categoria</th>
                <th>Producto</th>
                <th>Precio</th>
                <th>Stock</th>
                <th>Acciones</th>
            </tr>

            {% for producto in object_list %}
                <tr>
                    <td>{{ producto.categoria }}</td>
                    <td>{{ producto.nombre }}</td> 
                    <td>{{ producto.precio }}</td> 
                    <td>{{ producto.stock }}</td> 
                    <td><a href="{% url 'producto:producto_detail' producto.id %}"><button>Ver detalle</button></a></td>  
                    <td><a href="{% url 'producto:producto_update' producto.id %}"><button>Editar</button></a></td>  
                    <td><a href="{% url 'producto:producto_delete' producto.id %}"><button>Borrar</button></a></td>
                </tr>
                {% empty %}
                    <tr>
                        <td>No hay datos registrados</td>
                    </tr>
            {% endfor %}
        </table>
    </ul>
    <a href="{% url 'producto:index' %}">Volver</a>
    
{% endblock content %}
